<template lang="pug">
div#postSummary
  li(v-for="item in props.categories") {{ item.name }}
</template>
<script>
export default {
  name: 'postSummary',
  created () {
    console.log('postSummary')
  },
  props: {
    categories: []
  }
}
</script>
