<template lang="pug">
div#postTagDiv
  h3 블로그 태그 설정 
  span 업로드할 포스팅에 대한 태그를 설정합니다. 단, 블로그 플랫폼에서 API 로 태그 관련 기능을 제공하지 않는 경우에는 태그 기능을 사용할 수 없습니다. (예. 네이버)
  
  div(class='div_groupbox')
    el-tag(:key='tag' v-for='tag in dynamicTags' closable @close="handleClose(tag)") {{tag}}
    el-input(class='input-new-tag' v-if='inputVisible' @blur="handleInputConfirm"
            v-model='inputValue' ref='saveTagInput')
    el-button(v-else class='button-new-tag' @click='showInput' width='150px') 새 태그
</template>
<script>
export default {
  name: 'PostTags',
  mounted () {
    window.addEventListener('keypress', this.keyEventListener)
  },
  beforeDestroy () {
    window.removeEventListener('keypress', this.keyEventListener)
  },
  data () {
    return {
      dynamicTags: [],
      inputVisible: false,
      inputValue: ''
    }
  },
  methods: {
    keyEventListener (event) {
      if (event.code === 'Enter') {
        this.inputVisible = !this.inputVisible
        if (this.inputVisible) {
          this.showInput()
        }
      }
    },
    handleInputConfirm () {
      let inputValue = this.inputValue
      if (inputValue) {
        if (!this.dynamicTags.includes(inputValue)) {
          this.dynamicTags.push(inputValue)
        } else {
          this.$message.error('이미 등록된 태그입니다.')
        }
      }
      this.inputVisible = false
      this.inputValue = ''
    },
    handleClose (tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1)
    },
    showInput () {
      this.inputVisible = true
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    }
  }
}
</script>
<style>
  #postTagDiv .div_groupbox {
    margin-top: 20px;
  }
  #postTagDiv .el-tag {
    margin: 5px;
  }
  #postTagDiv .button-new-tag {
    margin: 5px;
    width: 80px;
    min-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #postTagDiv .input-new-tag {
    width: 80px;
    margin: 5px;
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #postTagDiv .el-input__inner {
    height: 32px;
  }
</style>
