<template lang="pug">
  div
    el-steps(:active='step_idx')
      el-step(title='카테고리' description='연동계정 및 카테고리 설정')
      el-step(title='태그' description='포스팅 글 태그 설정')
      el-step(title='포스팅' description='최종 업로드')
    
    div(class='form_group' v-if='step_idx == 0')
      step-categories(v-bind:selectCategory='selectCategory')
    
    div(class='form_group' v-if='step_idx == 1')
      step-tags
      
    div(class='form_group' v-if='step_idx == 2')
      step-summary
      
    div(class='button_group')
      el-button(type='primary' @click='nextStep') 다음 단계로
      el-button(@click='prevStep') 이전으로
</template>

<script>
import PostCategories from './postCategories'
import PostTags from './postTags'
import PostSummary from './postSummary'

export default {
  name: 'postReadyMainView',
  data () {
    return {
      step_idx: 0,
      selectedCategories: Object
    }
  },
  components: {
    'step-categories': PostCategories,
    'step-tags': PostTags,
    'step-summary': PostSummary
  },
  methods: {
    nextStep () {
      this.step_idx++
    },
    prevStep () {
      this.step_idx--
    },
    selectCategory (blogAccountId, categories) {
      this.selectedCategories[blogAccountId] = categories
    }
  }
}
</script>

<style scoped>
.form_group {
  margin: 50px 0px
}
</style>
