<template lang="pug">
div
  div(class='div_groupbox')
    h2 카테고리 그룹
    p 사용자가 설정한 카테고리 그룹을 불러옵니다.
    el-select(v-model='categoryGroup' placeholder='Select category group')
      el-option(v-for='item in categories' :value='item.name')
    
  div(class='div_groupbox')
    h2 연동 카테고리 선택하기
    p 설정한 블로그 계정 별 카테고리가 제대로 설정되어 있는지 확인합니다.
    el-row(type='flex' justify='center')
      el-col(class='categorySelectorGroup' :span='11')
        el-table#accountTable(ref='accountTable' v-bind:data='users' width='200px' highlight-current-row @current-change='accountSelected' height='500px')
          el-table-column(label='플랫폼' width='150px' prop='blogEngineName' align='center')
          el-table-column(label='블로그명' width='150px' prop='blogName' align='center')
          el-table-column(label='사용자 계정' width='auto' prop='account' align='center')
      el-col(:span='2')
        div
      el-col(:span='11')
        el-table#categoryTable(ref='categoryTable' v-bind:data='categories' height='500px' @selection-change='categorySelected')
          el-table-column(type='selection' width='55px')
          el-table-column(label='카테고리명' width='200px' prop='name' align='center')
          el-table-column(label='사용자 설명' width='auto' prop='description' align='center')
    
</template>
<script>
import request from 'request'
import apis from '../../apis'

export default {
  name: 'PostCategories',
  beforeMount () {
    request.get({url: apis.getUrl('category_groups')}, (error, response, result) => {
      if (error) {
        console.error(error)
      } else {
        this.categories = JSON.parse(result).categories
      }
    })
    request.get({url: apis.getUrl('platforms')}, (error, response, result) => {
      if (error) {
        console.error(error)
      } else {
        this.platforms = JSON.parse(result).platforms
      }
    })
    request.get({url: apis.getUrl('users')}, (error, response, result) => {
      if (error) {
        console.error(error)
      } else {
        this.users = JSON.parse(result).users
        this.users.forEach((user) => {
          const platformObj = this.getObjectWithKeyAndValue(this.platforms, '_id', user.blogEngine)
          if (platformObj) {
            user.blogEngineName = this.getPlatformName(platformObj.name)
          } else {
            user.blogEngineName = 'Undefined'
            console.log(this.platforms)
          }
        })
      }
    })

    // 카테고리 설정
  },
  methods: {
    getObjectWithKeyAndValue (objs, key, value) {
      let rvalue = null
      objs.forEach((obj) => {
        if (obj[key] === value) {
          rvalue = obj
        }
      })
      return rvalue
    },
    // 추후 language 패키지 추가 시 삭제할 것
    getPlatformName (name) {
      let rvalue = null
      if (name === 'tistory') {
        rvalue = '티스토리'
      } else if (name === 'wordpress') {
        rvalue = '워드프레스'
      } else {
        rvalue = '알 수 없는 블로그'
      }
      return rvalue
    },
    accountSelected (selected) {
      const reqUrl = new URL(apis.getUrl(apis.categories))
      reqUrl.searchParams.append('blogAccount', selected._id)
      request.get(reqUrl.href, (error, response, result) => {
        if (error) {
          console.error(error)
        }
        this.categories = JSON.parse(result).categories
      })
      this.selectedUser = selected._id
    },
    categorySelected (selectedCategory) {
      let categories = []
      selectedCategory.forEach((category) => {
        categories.push(category)
      })
      this.$emit('selectCategory', this.selectedUser, categories)
      this.categories[this.selectedUser] = categories
    }
  },
  data () {
    return {
      categories: [{
        _id: String,
        name: String,
        description: String,
        blogAccount: String
      }],
      platforms: [{
        _id: String,
        name: String,
        url: String
      }],
      categoryGroup: '',
      categoriesOfSelected: '',
      selectedUser: String,
      users: [{
        account: String,
        _id: String,
        // blogEngine === platforms._id
        blogEngine: String,
        blogName: String
      }]
    }
  }
}
</script>
<style scoped>
.categorySelectorGroup {
  display: flex;
}
.div_groupbox {
  margin-top: 50px;
}
#accountTable {
  cursor: pointer;
}

#categoryTable td { 
cursor: pointer;
}
</style>
