<template lang="pug">
//- Collapse (Left - Right) 토글 버튼
//- Event Trigger: toggleCollapsed
div(class='body')
  el-button(type='plain' v-bind:icon='buttonIcon'
            id='expandRibbon' v-on:click='handleSelect')
</template>
<script>
export default {
  props: {
    isCollapsed: false
  },
  computed: {
    buttonIcon () {
      if (this.isCollapsed) {
        return 'el-icon-arrow-right'
      } else {
        return 'el-icon-arrow-left'
      }
    }
  },
  methods: {
    handleSelect () {
      this.$emit('toggleCollapsed')
    }
  }
}
</script>
<style scoped>
#expandRibbon {
  padding: 10px 5px;
  border: 0px;
}
</style>
