<template lang="pug">
p(v-bind:style='{left: startFrom}') {{desc}}
</template>
<script>
export default {
  name: 'descriptor',
  props: {
    desc: String,
    startFrom: String
  }
}
</script>
<style scoped>
p {
  line-height: 20px;
  position: relative;
  margin-top: 0px;
  color: #909399;
}
</style>