<template lang="pug">
div#body_editor
  div#div_editor_view
    editor-view(tab-index='0')

</template>
<script>
import CategoryList from './editor/categoryList.vue'
import NoteList from './editor/noteList.vue'
import EditorView from './editor/editorView.vue'

export default {
  name: 'EditorView',
  components: {
    'category-list': CategoryList,
    'note-list': NoteList,
    'editor-view': EditorView
  }
}
</script>
<style scoped>
#body_editor {
  display: flex;
  max-height: inherit;
  justify-content: center;
  min-height: 100vh;
}
.el-row {
  min-height: 100%;
}
.el-col {
  min-height: 100%;
}

#div_note_list {
  padding: 20px;
  max-width: 300px;
  width: 35%;
  max-height: inherit;
  background-color: var(--arch-color-2);
  overflow-y: scroll;
}
#div_editor_view {
  width: 70%;
  padding: 0px;
  margin-top: auto;  
  margin-bottom: auto;
}

#expandBtn {
  padding: 10px;
}
#expandBtn:hover {
  padding: 10px;
}
</style>
