<template lang="pug">
el-container
  el-button(type='text')
    img(src="../assets/baseline-exit_to_app-24px.svg" height="24" @click='askQuit') 
  el-dialog(title='Ask to quit' :visible.sync='dialogVisible' width='450px' center)
    span Are you sure to quit?
    span(slot='footer' class='dialog-footer')
      el-button(@click='dialogVisible = false') Cancel
      el-button(type='primary' @click='exitApp') Confirm
</template>
<script>
export default {
  name: 'AppFooter',
  data () {
    return {
      dialogVisible: false
    }
  },
  methods: {
    askQuit () {
      this.dialogVisible = true
    },
    exitApp () {
      this.dialogVisible = false
      const remote = require('electron').remote
      let w = remote.getCurrentWindow()
      w.close()
    }
  }
}
</script>

<style></style>