<template lang="pug">
div(id='body_editor')

  div(id='div_category_list')
    category-list
  div(id='div_note_list')
    note-list

  el-button(icon='fas fa-angle-double-left' id='expandBtn')
  div(id='div_editor_view')
    editor-view(tab-index='0')

</template>
<script>
import CategoryList from './editor/categoryList.vue'
import NoteList from './editor/noteList.vue'
import EditorView from './editor/editorView.vue'

export default {
  name: 'ListView',
  components: {
    'category-list': CategoryList,
    'note-list': NoteList,
    'editor-view': EditorView
  }
}
</script>
<style scoped>
#body_editor {
  display: flex;
  max-height: inherit;
}
.el-row {
  min-height: 100%;
}
.el-col {
  min-height: 100%;
}
#div_category_list {
  padding: 20px;
  max-width: 250px;
  width: 25%;
}

#div_note_list {
  padding: 20px;
  max-width: 300px;
  width: 35%;
  max-height: inherit;
  background-color: var(--arch-color-2);
  overflow-y: scroll;
}
#div_editor_view {
  width: 100%;
  padding: 20px;
}

#expandBtn {
  padding: 10px;
}
#expandBtn:hover {
  padding: 10px;
}
</style>
