<template lang="pug">
div(class='body')
  el-menu(mode='vertical' :collapse='true' default-active='1')
    el-menu-item(index='1' @click='clickEditor')
      i(class='fas fa-pen-nib fa-lg')
    el-menu-item(index='2' @click='clickList')
      i(class='fas fa-book fa-lg')
    el-menu-item(index='3' @click='clickBackup')
      i(class='fas fa-history fa-lg')
    el-menu-item(index='4' @click='clickSetting')
      i(class='fas fa-cog fa-lg')
    el-menu-item(index='6' @click='clickExit')
      i(class='fas fa-power-off fa-lg')
</template>
<script>
export default {
  name: 'AppMenu',
  methods: {
    clickEditor () {
      this.$router.push('/editor')
    },
    clickList () {
      this.$router.push('/notebook')
    },
    clickBackup () {
      this.$router.push('/timemachine/TmBackup')
    },
    clickSetting () {
      this.$router.push('/setting/account_page')
    },
    clickAccount () {
      this.$router.push('/account')
    },
    clickExit () {
      this.$confirm('편집기를 종료하시겠습니까?', 'Warniing', {
        confirmButtonText: '네',
        cancelButtonText: '아니오',
        type: 'warning'
      }).then(() => {
        window.close()
        require('electron').app.quit()
      })
    }
  }
}
</script>
<style scoped>
.body {
  text-align: center;
  background: var(--elemental-color-4);
}
.el-menu-item {
  background: var(--elemental-color-4);
}

.el-menu-item:focus {
  background: var(--elemental-color-4);
}

.el-menu-item:hover {
  background: var(--elemental-color-4);
}
</style>
