<template lang="pug">
el-row#notebook_div
  el-col(:span='8')
    notebook-filterlist
  el-col(:span='1')
    div(class='col_boundary')
  el-col(:span='10')
    notebook-postlist
</template>

<script>
import NotebookPostList from './notebook/notebookPostList'
import NotebookFilterList from './notebook/notebookFilterList'

export default {
  name: 'Notebook',
  components: {
    'notebook-postlist': NotebookPostList,
    'notebook-filterlist': NotebookFilterList
  }
}
</script>
<style scoped>
#notebook_div {
  margin-left: 15%;
  margin-top: 5%;
}

.col_boundary {
  min-height: 50vh;
}
</style>
