<template lang="pug">
  div(class='main')
    post-ready#postready_body
</template>

<script>
import PostReadyView from './postready/postReadyView'
export default {
  name: 'PostReady',
  data () {
    return {
      step_idx: 0
    }
  },
  methods: {
    test () {
      this.$router.go(-1)
    }
  },
  components: {
    'post-ready': PostReadyView
  }
}
</script>
<style scoped>
  .main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  #postready_body {
    width: 70%;
  }
  
</style>
