<template lang="pug">
el-container#setting_div
  el-aside#setting_menu
    setting_menu(v-on:settingChanged='settingChangedHandler')
  el-main#setting_body
    router-view
</template>
<script>
import SettingMenu from '../components/settings/menu.vue'
export default {
  data () {
    return {
      activeIndex: '1'
    }
  },
  methods: {
    settingChangedHandler (requestPage) {
      this.$router.push('/setting/' + requestPage)
    }
  },
  components: {
    setting_menu: SettingMenu
  }
}
</script>
<style scoped>
#setting_div {
  margin-left: 15%;
  margin-top: 5%;
}
#setting_body {
  padding-top: 3px; 
  margin-left: 30px;
}
#setting_menu {
  text-align: right;
  max-width: 200px;
}
</style>
