<template lang="pug">
el-container#timemachine_div
  el-aside#timemachine_menu
    backup_menu(v-on:selectTmMenuItem='menuSelectHandler')
  el-main#timemachine_body
    router-view
</template>
<script>
import BackupMenu from '../components/timemachine/menu.vue'
export default {
  data () {
    return {
      activeIndex: '1'
    }
  },
  methods: {
    menuSelectHandler (requestPage) {
      this.$router.push('/timemachine/' + requestPage)
    }
  },
  components: {
    backup_menu: BackupMenu
  }
}
</script>
<style scoped>
#timemachine_div {
  margin-left: 15%;
  margin-top: 5%;
}
#timemachine_menu {
  text-align: right;
  max-width: 200px;
}
</style>
