<template lang="pug">
div
  category-header(v-bind:title='labels.title' v-bind:description='labels.description')
  el-button-group
    el-button(type='plain' @click='clickAddButton' size='mini' icon='el-icon-plus')
    el-button(type='danger' @click='clickRemoveButton' icon='el-icon-delete' size='mini')
  
  div(v-for='item in tableData')
    el-dialog(ref='detailDialog' v-bind:title='labels.title_detail' :visible.sync='item.detailVisible')
      account-detail(v-bind:accountInfo='item')
  div
    el-table(ref='multipleTable' :data="tableData" size='medium'
            style='width: 70%' max-height='500'
            @select='handleSelectEvent'
            @selection-change='handleSelectionChange')
      el-table-column(type='selection' width='50' align='center')
      el-table-column(v-bind:label='labels.col_nickname_label')
        template(slot-scope='scope')
          span {{ scope.row.nickname }}
      el-table-column(v-bind:label='labels.col_platform_label')
        template(slot-scope='scope')
          span {{ scope.row.platform }}
      el-table-column(v-bind:label='labels.col_account_label')
        template(slot-scope='scope')
          span {{ scope.row.id }}
      el-table-column(v-bind:label='labels.col_comment_label')
        template(slot-scope='scope')
          span {{ scope.row.comment }}
      el-table-column(v-bind:label='labels.col_detail_label' align='center' width='120' fixed="right")
        template(slot-scope='scope')
          el-button-group
            el-button(type='plain' size='mini' 
            icon='el-icon-edit'
            @click='handleItemEdit(scope.$index, scope.row)')
            el-button(type='plain' size='mini' 
            icon='el-icon-info'
            @click='handleViewDetail(scope.$index, scope.row)')
    
  el-dialog(v-bind:title='labels.title_dialog' :visible.sync='dialogFormVisible')
    // Step Indicator
    el-steps(:active='step' id='stepIndicator' :align-center='true')
      el-step(title='Step 1' v-bind:description='labels.hint_step1')
      el-step(title='Step 2' v-bind:description='labels.hint_step2')
      el-step(title='Step 3' v-bind:description='labels.hint_step3')

    el-form(:model='addForm' id='addForm' label-position='top' v-loading='loading')
      // step 1
      el-row(v-if='step == 1')
        el-form-item(v-bind:label='labels.step1_form_hint')
          el-select(v-model='platform' v-bind:placeholder='labels.step1_select_hint')
            el-option(v-for='item in platforms' :key='item.value' :label='item.label' :value='item.value')

      // step 2
      el-row(v-if='step == 2' label-width='200px')
        // When user selected: WORDPRESS
        el-row(v-if='platform == "wordpress"')
          el-form-item(v-bind:label='labels.wordpress_account')
            el-input(v-bind:placeholder='labels.step2_hint_username' v-model='username')

          el-form-item(v-bind:label='labels.wordpress_password')
            el-input(v-bind:placeholder='labels.step2_hint_password' v-model='password' type='password')

          el-form-item(v-bind:label='labels.wordpress_url')
            el-input(v-bind:placeholder='labels.step2_hint_domain' v-model='blogurl')
            
          el-form-item(v-bind:label='labels.wordpress_token')
            el-input(v-bind:placeholder='labels.step2_hint_token' v-model='token')

          el-form-item(v-bind:label='labels.wordpress_nickname')
            el-input(v-bind:placeholder='labels.step2_hint_nickname' v-model='nickname')

          el-form-item(v-bind:label='labels.wordpress_comment')
            el-input(v-bind:placeholder='labels.step2_hint_comment' v-model='comment')
        
        // TISTORY SELECTED 
        el-row(v-if='platform == "tistory"')
          el-form-item(v-bind:label='labels.tistory_account')
            el-input(v-bind:placeholder='labels.step2_hint_username' 
                    v-model='username')
          el-form-item(v-bind:label='labels.tistory_password')
            el-input(v-bind:placeholder='labels.step2_hint_password' 
                    v-model='password' type='password')
          el-form-item(v-bind:label='labels.tistory_blogname')
            el-input(v-bind:placeholder='labels.tistory_hint_blogname'
                    v-model='blogurl')
          el-form-item(v-bind:label='labels.tistory_nickname')
            el-input(v-bind:placeholder='labels.step2_hint_nickname' 
                    v-model='nickname')
          el-form-item(v-bind:label='labels.tistory_clientid')
            el-input(v-bind:placeholder='labels.tistory_hint_clientid' 
                    v-model='clientid')
          el-form-item(v-bind:label='labels.tistory_secretkey')
            el-input(v-bind:placeholder='labels.tistory_hint_secretkey' 
                    v-model='secretkey')
          el-form-item(v-bind:label='labels.tistory_comment')
            el-input(v-bind:placeholder='labels.step2_hint_comment'
                    v-model='comment')

        // NAVER BLOG SELECTED 
        el-row(v-if='platform == "naver"')
          el-form-item(label='STEP 2')
            el-select(v-model='platform' placeholder='Select blog platform')
              el-option(v-for='item in platforms' :key='item.value' :label='item.label' :value='item.value')

      // STEP 3
      el-row(v-if='step == 3' label-width='200px')
        h5 {{labels.step3_check_message}}
        el-row(type='flex')
          el-col(:span="6" :offset='0' align='right')
            p {{ labels.col_platform_label }}
          el-col(:span="12" :offset='1')
            p {{ getPlatformName(platform) }}
        el-row(type='flex')
          el-col(:span="6" :offset='0' align='right')
            p {{ labels.username }}
          el-col(:span="12" :offset='1')
            p {{ username }}
        el-row(type='flex')
          el-col(:span="6" :offset='0' align='right')
            p {{ labels.nickname }} 
          el-col(:span="12" :offset='1')
            p {{ nickname }}
        el-row(type='flex')
          el-col(:span="6" :offset='0' align='right')
            p {{ labels.comment }}
          el-col(:span="12" :offset='1')
            p {{ comment }}

      div(v-if='step == 1')
        el-button(type='primary' @click='moveToNext' name='proceedBtn' style='margin-top: 30px') {{labels.proceed}}
        el-button(@click='dialogFormVisible = false' name='cancelBtn') {{labels.cancel}}
      div(v-if='step == 2')
        el-button(type='primary' @click='moveToNext' name='proceedBtn' style='margin-top: 30px') {{labels.proceed}}
        el-button(@click='moveToPrev' name='cancelBtn') {{labels.goback}}
      div(v-if='step == 3')
        el-button(type='primary' @click='moveToNext' name='proceedBtn' style='margin-top: 30px') {{labels.complete}}
        el-button(@click='moveToPrev' name='cancelBtn') {{labels.goback}}

</template>
<script>
import CategoryHeader from '../common/CategoryHeader'
import i18n from '../../configs/i18next.config.js'
import apis from '../../apis'
import request from 'request'
import AccountDetail from './accounts/detailView'

export default {
  name: 'AccountPage',
  components: {
    'category-header': CategoryHeader,
    'account-detail': AccountDetail
  },
  async beforeMount () {
    this.getAllPlatforms().then(() => {
      this.getAllUsers()
    })
  },
  watch: {
    dialogFormVisible (value) {
      if (!value && this.isEditing) {
        this.username = ''
        this.password = ''
        this.nickname = ''
        this.clientid = ''
        this.secretkey = ''
        this.blogurl = ''
        this.comment = ''
        this.token = ''
        this.isEditing = false
        this.loading = false
      }
    }
  },
  data () {
    return {
      labels: {
        message_success_add_account: i18n.t('message_success_add_account'),
        title: i18n.t('account_page_category_header'),
        description: i18n.t('account_page_category_desc'),
        username: i18n.t('Username'),
        nickname: i18n.t('Nickname'),
        comment: i18n.t('Comment'),
        col_account_label: i18n.t('Accounts'),
        col_nickname_label: i18n.t('Nickname'),
        col_platform_label: i18n.t('Blog Engine'),
        col_comment_label: i18n.t('Comment'),
        col_detail_label: i18n.t('Details'),
        title_dialog: i18n.t('account_page_add_new_one'),
        hint_step1: i18n.t('account_page_step1_hint'),
        hint_step2: i18n.t('account_page_step2_hint'),
        hint_step3: i18n.t('account_page_step3_hint'),
        step1_select_hint: i18n.t('account_page_step1_select_hint'),
        step1_form_hint: i18n.t('account_page_step1_form_hint'),
        step2_hint_username: i18n.t('account_page_step2_hint_username'),
        step2_hint_password: i18n.t('account_page_step2_hint_password'),
        step2_hint_domain: i18n.t('account_page_step2_hint_domain'),
        step2_hint_nickname: i18n.t('account_page_step2_hint_nickname'),
        step2_hint_comment: i18n.t('account_page_step2_hint_comment'),
        step2_hint_token: i18n.t('account_page_step2_hint_token'),
        step3_check_message: i18n.t('account_page_step3_check_message'),
        cancel: i18n.t('Cancel'),
        goback: i18n.t('Goback'),
        proceed: i18n.t('Proceed'),
        complete: i18n.t('Complete'),
        wordpress_account: i18n.t('wordpress_account'),
        wordpress_password: i18n.t('wordpress_password'),
        wordpress_url: i18n.t('wordpress_url'),
        wordpress_nickname: i18n.t('wordpress_nickname'),
        wordpress_comment: i18n.t('wordpress_comment'),
        wordpress_token: i18n.t('wordpress_token'),
        tistory_account: i18n.t('tistory_account'),
        tistory_password: i18n.t('tistory_password'),
        tistory_blogname: i18n.t('tistory_blogname'),
        tistory_nickname: i18n.t('tistory_nickname'),
        tistory_clientid: i18n.t('tistory_clientid'),
        tistory_secretkey: i18n.t('tistory_secretkey'),
        tistory_comment: i18n.t('tistory_comment'),
        tistory_hint_secretkey: i18n.t('account_page_step2_hint_secretkey'),
        tistory_hint_clientid: i18n.t('account_page_step2_hint_clientid'),
        tistory_hint_blogname: i18n.t('tistory_hint_blogname'),
        tistory: i18n.t('Tistory'),
        wordpress: i18n.t('Wordpress')
      },
      platform: 'wordpress',
      username: '',
      password: '',
      nickname: '',
      clientid: '',
      secretkey: '',
      blogurl: '',
      comment: '',
      token: '',
      step: 1,
      loading: false,
      selectedItems: [],
      platforms: [],
      addForm: {
        blogtype: 'tistory'
      },
      dialogFormVisible: false,
      tableData: [],
      isEditing: false,
      updateId: '',
      detailTargetAccount: {}
    }
  },
  methods: {
    /**
     * initializeForm ()
     * 폼 입력 칸을 모두 초기화한다.
     */
    initializeForm () {
      this.username = ''
      this.password = ''
      this.nickname = ''
      this.clientid = ''
      this.secretkey = ''
      this.blogurl = ''
      this.comment = ''
      this.token = ''
    },
    handleSelectionChange (value) {
      this.selectedItems = value
    },
    handleItemEdit (index, row) {
      console.log(row)
      let value = row.item
      this.username = value.auth.username
      this.password = value.auth.password
      this.nickname = value.blogNickname
      this.clientid = value.auth.client_id
      this.secretkey = value.auth.secret_key
      this.blogurl = value.auth.url
      this.comment = value.comment
      this.token = value.auth.token
      this.step = 2
      this.isEditing = true
      this.dialogFormVisible = []
      this.updateId = row._id
    },
    handleViewDetail (index, value) {
      this.$nextTick(() => {
        this.tableData[index].detailVisible = true
      })
    },
    newBlogItem () {
      console.log('new blog item')
    },
    handleSelectEvent (selection, row) {
      row.selected = true
    },
    clickAddButton () {
      this.dialogFormVisible = true
      this.step = 1
      this.loading = false
    },
    clickRemoveButton () {
      for (let idx in this.selectedItems) {
        request.del(apis.getUrl(apis.users), {
          form: {
            id: this.selectedItems[idx]._id
          }
        }, (error, res, data) => {
          if (error) {
            console.error(error)
          }
        })
      }

      this.tableData = this.tableData.filter((item) => {
        return !item.selected
      })
    },
    moveToNext () {
      if (this.step === 3) {
        this.loading = true
        if (this.isEditing) {
          this.updateInformation()
        } else {
          this.saveInformation()
        }
      } else {
        this.step++
      }
    },
    moveToPrev () {
      this.step--
    },
    formNewData () {
      console.log('form new data')
    },
    updateInformation () {
      console.log('Update the platform of account to ', this.platform)
      apis.getPlatformId(this.platform)
        .then((value) => {
          // DB상에서 사용자가 선택한 플랫폼의 ID를 가져온다.
          let parsed = JSON.parse(value.body)
          return parsed.platforms[0]._id
        })
        .then((platformId) => {
          console.log('platform id = ', platformId)
          // 플랫폼 ID를 통해 새 사용자를 등록한다.
          return {
            'account': this.username,
            'platform_id': platformId,
            'auth': {
              'username': this.username,
              'password': this.password,
              'token': this.token,
              'url': this.blogurl,
              'client_id': this.clientid,
              'secret_key': this.secretkey,
              'callback_uri': this.callback_uri,
              'access_token': this.access_token
            },
            'blogUrl': this.blogurl,
            'blogName': this.blogName,
            'blogNickname': this.nickname,
            'comment': this.comment
          }
        })
        .then((accountInfo) => {
          ((newAccount) => {
            request.put(apis.getUrl(apis.users), {
              form: {
                id: this.updateId,
                updateTo: JSON.stringify(accountInfo)
              }
            }, (error, res, result) => {
              if (error) {
                console.error(error)
              }
              let r = JSON.parse(result)
              if (r.success) {
                this.$message({
                  message: i18n.t('message_success_add_account'),
                  type: 'success'
                })
              } else {
                this.$message({
                  message: i18n.t('message_fail_add_account'),
                  type: 'error'
                })
              }
              this.dialogFormVisible = false
              this.getAllUsers()
            })
          })(accountInfo)
        })
        .then(() => {
          this.username = ''
          this.password = ''
          this.nickname = ''
          this.clientid = ''
          this.secretkey = ''
          this.blogurl = ''
          this.comment = ''
          this.token = ''
          this.isEditing = false
          this.loading = false
        })
    },
    saveInformation () {
      apis.getPlatformId(this.platform)
        .then((value) => {
          // DB상에서 사용자가 선택한 플랫폼의 ID를 가져온다.
          let parsed = JSON.parse(value.body)
          return parsed.platforms[0]._id
        })
        .then((platformId) => {
          // 플랫폼 ID를 통해 새 사용자를 등록한다.
          return {
            'account': this.username,
            'platform_id': platformId,
            'auth': {
              'username': this.username,
              'password': this.password,
              'token': this.token,
              'url': this.blogurl,
              'client_id': this.clientid,
              'secret_key': this.secretkey,
              'callback_uri': this.callback_uri,
              'access_token': this.access_token
            },
            'blogUrl': this.blogurl,
            'blogName': this.blogName,
            'blogNickname': this.nickname,
            'comment': this.comment
          }
        })
        .then((accountInfo) => {
          ((newAccount) => {
            request.post(apis.getUrl(apis.users), {
              form: accountInfo
            }, (error, res, result) => {
              if (error) {
                console.error(error)
              }
              let r = JSON.parse(result)
              if (r.success) {
                this.$message({
                  message: i18n.t('message_success_add_account'),
                  type: 'success'
                })
              } else {
                this.$message({
                  message: i18n.t('message_fail_add_account'),
                  type: 'error'
                })
              }
              this.dialogFormVisible = false
              this.getAllUsers()
            })
          })(accountInfo)
        })
        .then(() => {
          this.username = ''
          this.password = ''
          this.nickname = ''
          this.clientid = ''
          this.secretkey = ''
          this.blogurl = ''
          this.comment = ''
          this.token = ''
          this.isEditing = false
          this.loading = false
        })
    },
    getPlatformName (v) {
      for (let p = 0; p < this.platforms.length; ++p) {
        if (this.platforms[p].value === v) {
          return i18n.t(this.platforms[p].label)
        }
      }
      return 'Unknown'
    },
    getAllPlatforms () {
      return new Promise((resolve, reject) => {
        request.get(apis.getUrl(apis.platforms), (error, res, data) => {
          if (error) {
            reject(error)
          } else {
            this.makeTableWithPlatforms(JSON.parse(data).platforms)
            resolve(true)
          }
        })
      })
    },
    getAllUsers () {
      request.get(apis.getUrl(apis.users), (error, res, data) => {
        if (error) {
          console.error(error)
        } else {
          this.makeTableDataWithUserData(JSON.parse(data).users)
        }
      })
    },
    makeTableWithPlatforms (platforms) {
      this.platforms = []
      for (let idx in platforms) {
        let item = platforms[idx]
        this.platforms.push({
          value: item.name,
          id: item._id,
          label: i18n.t(item.name.toLowerCase())
        })
      }
    },
    makeTableDataWithUserData (accounts) {
      this.tableData = []
      console.log(accounts)
      for (let idx in accounts) {
        let item = accounts[idx]
        this.tableData.push({
          selected: false,
          platform: this.findPlatformWithId(item.blogEngine),
          id: item.account,
          comment: item.comment,
          nickname: item.blogNickname,
          _id: item._id,
          item: item,
          detailVisible: false
        })
      }
    },
    findPlatformWithId (id) {
      for (let idx in this.platforms) {
        if (id === this.platforms[idx].id) {
          return this.platforms[idx].label
        }
      }
    }
  }
}
</script>
<style scoped>
h4 {
  margin-top: 0px;
}
h6 {
  margin-bottom: 30px;
}
.el-button-group {
  margin-left: 10px;
}
.el-table {
  margin-top: 5px;
  margin-left: 3px;
  overflow-x: hidden;
}
#stepIndicator {
  margin-bottom: 30px;
}
#addForm {
  padding: 20px;
}
#formStepTwo {
  visibility: collapse;
}
</style>
