<template lang="pug">

el-form(ref='form' label-width='300px' label-position='left')
  category-header(v-bind:title='labels.title' v-bind:description='labels.description')

  el-form-item(v-bind:label='labels.darkmode_header')
    el-switch(v-model='form.darkmode')
    descriptor(v-bind:desc='labels.darkmode_desc' startFrom='-300px')
  
  el-form-item(v-bind:label='labels.fixedWin_header')
    el-switch(v-model='form.fixedWindow')
    descriptor(v-bind:desc='labels.fixedWin_desc' startFrom='-300px')

  el-form-item(v-bind:label='labels.editorMode_header')
    el-select(v-model='form.editor_ui_mode' placeholder='Editor mode')
      el-option(v-bind:label='labels.option_default' value='default')
      el-option(v-bind:label='labels.option_compact' value='compact')
    descriptor(v-bind:desc='labels.editorMode_desc' startFrom='-300px')

  el-form-item(v-bind:label='labels.font_header')  
    el-select(v-model='form.default_font' placeholder='Select default font')
      el-option(label='나눔고딕' value='nanumgothic')
    descriptor(v-bind:desc='labels.font_desc' startFrom='-300px')

  el-button(type='primary' @click='onSave') {{ labels.lbl_save }}
  el-button {{ labels.lbl_default }}
</template>

<script>
import descriptor from '../description'
import CategoryHeader from '../common/CategoryHeader'
import i18n from '../../configs/i18next.config.js'

console.log(i18n.t('account_page_category_header'), 'ko')

export default {
  data () {
    return {
      form: {
        darkmode: false,
        fixedWindow: false
      },
      labels: {
        title: i18n.t('appearance_page_category_header'),
        description: i18n.t('appearance_page_category_desc'),
        darkmode_header: i18n.t('appearance_page_darkmode_header'),
        darkmode_desc: i18n.t('appearance_page_darkmode_desc'),
        fixedWin_header: i18n.t('appearance_page_fixedWin_header'),
        fixedWin_desc: i18n.t('appearance_page_fixedWin_desc'),
        font_header: i18n.t('appearance_page_font_header'),
        font_desc: i18n.t('appearance_page_font_desc'),
        editorMode_header: i18n.t('appearance_page_editor_mode_header'),
        editorMode_desc: i18n.t('appearance_page_editor_mode_desc'),
        option_default: i18n.t('Default'),
        option_compact: i18n.t('Compact'),
        lbl_save: i18n.t('Save'),
        lbl_cancel: i18n.t('Cancel'),
        lbl_default: i18n.t('Default')
      }
    }
  },
  methods: {
    onSave () {
      console.log('save appearance setting.')
    }
  },
  components: {
    'descriptor': descriptor,
    'category-header': CategoryHeader
  }
}
</script>
<style>
h4 {
  margin-top: 0px;
}
</style>
