<template lang="pug">
el-row
  category-header(title='단축키 설정' description='어플리케이션에서 사용할 단축키를 설정합니다.')
  el-row
    el-table(ref='multipleTable' :data="keyData" size='medium'
            style='width: 50%' align='center' max-height='500' 
            @selection-change='handleSelectionChange')
      el-table-column(label='명령' width='auto')
        template(slot-scope='scope')
          span {{ scope.row.description }}
      el-table-column(label='단축키' width='150px' align='left')
        template(slot-scope='scope')
          span {{ scope.row.shortcuts }}
</template>

<script>
import CategoryHeader from '../common/CategoryHeader'
export default {
  data () {
    return {
      keyData: [
        {
          'description': 'Collapse menu',
          'shortcuts': 'Modkey + C'
        }
      ]
    }
  },
  methods: {
    handleSelectionChange (index) {
      console.log(index)
    }
  },
  components: {
    'category-header': CategoryHeader
  }
}
</script>
