<template lang="pug">
el-form(ref='form' label-width='200px' label-position='left')
  category-header(title='언어 설정' description='어플리케이션의 언어를 설정합니다.')

  el-table(ref='singleTable' :data='tableData' :show-header='false' style='width: 65%')
    el-table-column(label='SELECT' width='40')
      template(slot-scope='scope')
        el-row
          el-button(v-if='scope.row.selection' 
          v-on:click='handleSelection(scope.row.code, scope.$index)' 
          circle size='mini' type='primary' icon='el-icon-check')
          el-button(v-else
          circle v-on:click='handleSelection(scope.row.code, scope.$index)' size='mini' icon='el-icon-check')
    el-table-column(label='LANGUAGE' property='language')
    el-table-column(label='CODE' width='70' property='code')
    el-table-column(label='COUNTRY' width='70')
      template(slot-scope='scope' style='width: 50px')
        img(:src='returnFlagPath(scope.row.flag)' height='25px' width='38px' id='flagImage')
  div(style='margin-top: 20px')
    el-button(type='primary' @click='onSave') 저장하기
    el-button(@click='onCancel') 되돌리기
</template>

<script>
import CategoryHeader from '../common/CategoryHeader'
export default {
  data () {
    return {
      oldSelect: -1,
      currentSelect: -1,
      form: {
        language: 'English'
      },
      tableData: [
        {
          language: '한국어',
          country: 'South Korea',
          code: 'ko-KR',
          flag: 'kr',
          selection: false
        },
        {
          language: 'English',
          country: 'United States',
          code: 'en-US',
          flag: 'us',
          selection: false
        }
      ],
      rowWidth: 0
    }
  },
  methods: {
    returnFlagPath (filename) {
      return '/src/renderer/assets/flags/' + filename + '.png'
    },
    getUser (e) {
    },
    handleSelection (param, index) {
      console.log(param + ' at ' + index)
      this.oldSelect = this.currentSelect
      this.currentSelect = index

      if (this.oldSelect !== -1) {
        this.tableData[this.oldSelect]['selection'] = false
      }
      this.tableData[index]['selection'] = true
    },
    onSave () {
      console.log('save settings (todo)')
    },
    onCancel () {
      console.log('cancel this etting')
    }
  },
  created () {
    console.log(window.innerWidth)
    this.rowWidth = window.innerWidth * 0.4 - 100
    console.log(this.rowWidth)
  },
  components: {
    'category-header': CategoryHeader
  }
}
</script>
<style scoped>
#flagImage {
  border-width: 1px;
  border-color: #DCDFE6;
  border-style: solid;
  padding: 0px;
  border-radius: 18%;
  vertical-align: middle;
}
h4 {
  margin-top: 0px;
}
</style>
