<template lang="pug">
el-row(justify='end')
  el-col(align='left')
    menu-header(title='설정' icon='el-icon-setting')
    el-menu(:default-active='selectedMenuItem')
      // el-menu-item(index='1' v-on:click='clickProfile') Profile
      // el-menu-item(index='1' v-on:click='clickGeneralUI') 외관 설정
      // el-menu-item(index='2' v-on:click='clickKeyBindings') 단축키 설정
      el-menu-item(index='1' v-on:click='clickManageAccounts') 연동 계정 관리
      el-menu-item(index='2' v-on:click='clickGeneralLanguages') 언어 설정
</template>
<script>
import MenuHeader from '../common/MenuHeader'
export default {
  data () {
    return {
      selectedMenuItem: '1'
    }
  },
  components: {
    'menu-header': MenuHeader
  },
  methods: {
    clickProfile () {
      this.$emit('settingChanged', 'profile')
    },
    clickGeneralUI () {
      this.$emit('settingChanged', 'appearance')
    },
    clickGeneralLanguages () {
      this.$emit('settingChanged', 'language')
    },
    clickEditorThemes () {
      this.$emit('settingChanged', 'editor_theme')
    },
    clickEditorTemplates () {
      this.$emit('settingChanged', 'writer_template')
    },
    clickManageAccounts () {
      this.$emit('settingChanged', 'account_page')
    },
    clickKeyBindings () {
      this.$emit('settingChanged', 'keybindings')
    }
  }
}
</script>
<style scope>
div.el-col { 
  height: 100%;
}
ul.el-menu {
  border-right-width: 0px;
}
li.el-menu-item:focus {
  background-color: inherit;
}
h3 {
  margin-top: 0px;
}
</style>
