<template lang="pug">
el-row(style='top: -8px; width:65%')
  category-header(title='블로그 포스팅 백업 도구' description='XML 또는 JSON 형식으로 포스팅들을 백업합니다.')

  el-tabs(tab-position='top' style='margin-top: -10px')
    el-tab-pane(label='PC 내 저장된 글 백업하기')
      local-backup
    el-tab-pane(label='블로그에 저장된 글 백업하기')
      remote-backup
</template>
<script>
import CategoryHeader from '../common/CategoryHeader'
import LocalBackup from './localBackup'
import RemoteBackup from './remoteBackup'

export default {
  data () {
    return {
      searchKeyword: ''
    }
  },
  components: {
    'category-header': CategoryHeader,
    'local-backup': LocalBackup,
    'remote-backup': RemoteBackup
  }
}
</script>
<style scoped>
h2 {
  margin-top: 0px;
  display: inline-block;
}
h6 {
  margin-top: 0px;
  margin-bottom: 50px;
}
#tooltip_mainheader {
  margin-left: 20px;
}
</style>
