<template lang="pug">
div
  description(content='사용자 PC에 저장된 모든 블로그 포스팅 내용을 .JSON 또는 .XML 파일로 백업합니다.')
  el-popover(placement='bottom-start' title='백업 가능한 글 개수' 
             width='200' trigger='hover' v-bind:content='totalPostCount')
    el-button(slot='reference' type='primary') 백업하기
</template>
<script>
import Description from '../common/Description'
import apis from '../../apis'
import request from 'request'

export default {
  name: 'LocalBackup',
  components: {
    'description': Description
  },
  data () {
    return {
      totalPostCount: ''
    }
  },
  created () {
    let totalCount = 0
    request.get({url: apis.getUrl('posts')}, (error, response, result) => {
      if (error) {
        console.error(error)
      } else {
        const posts = JSON.parse(result).posts
        totalCount = posts.length
        this.totalPostCount = totalCount + '개'
      }
    })
    this.totalPostCount = totalCount + '개'
  }
}
</script>
<style scoped>

</style>
