<template lang="pug">
div
  description(content='XML 또는 JSON 확장자를 가진 백업파일을 이용하여 글을 복구합니다.')
  el-upload(ref='uploadBackup' v-bind:action='backupFileUpload'
            :auto-upload='false')
    el-button(style='margin-right: 10px' slot='trigger' type='primary') 백업파일 선택
    el-button(type='success' @click='submitUpload') 글 복구하기
</template>

<script>
import apis from '../../apis'
import Description from '../common/Description'
export default {
  name: 'LocalRestore',
  data () {
    return {
      backupFileUpload: apis.getUrl('backupFileUpload')
    }
  },
  components: {
    'description': Description
  },
  methods: {
    submitUpload () {
      this.$refs.uploadBackup.submit()
    }
  }
}
</script>
