<template lang="pug">
el-row(justify='end')
  el-col(align='left')
    menu-header(title='타임머신' icon='el-icon-time')
    el-menu(:default-active='selectedMenuItem')
      el-menu-item(index='1' v-on:click='goToBackup') 포스팅 백업
      el-menu-item(index='2' v-on:click='goToRestore') 데이터 복구하기
</template>
<script>
import MenuHeader from '../common/MenuHeader'
export default {
  methods: {
    goToBackup () {
      this.$emit('selectTmMenuItem', 'backup')
    },
    goToRestore () {
      this.$emit('selectTmMenuItem', 'restore')
    }
  },
  components: {
    'menu-header': MenuHeader
  },
  data () {
    return {
      selectedMenuItem: '1'
    }
  }
}
</script>
<style>
</style>
