<template lang="pug">
div
  description(content='XML 또는 JSON 확장자를 가진 백업파일을 이용하여 글을 복구합니다.')
  
  el-select(ref='selectRemotePlatform' v-model='selectedPlatform' placeholder='블로그 플랫폼 선택')
    el-option(v-for='platform in platforms'
              :key='platform._id' v-bind:label='platform.name' v-bind:value='platform.name')
  account-selector(v-bind:platform='selectedPlatform')
  
  el-upload(style='margin-top: 10px' ref='uploadBackup' v-bind:action='backupFileUpload'
            :auto-upload='false')
    el-button(style='margin-right: 10px' slot='trigger' type='primary') 백업파일 선택
    el-button(type='success' @click='submitUpload') 글 복구하기 
</template>
<script>
import AccountSelector from '../common/AccountSelector'
import request from 'request'
import apis from '../../apis'
import Description from '../common/Description'

export default {
  name: 'RemoteRestore',
  beforeMount () {
    request.get({url: apis.getUrl('platforms')}, (error, response, result) => {
      if (error) {
        console.error(error)
      } else {
        this.platforms = JSON.parse(result).platforms
        this.selectedPlatform = this.platforms[0].name
      }
    })
  },
  components: {
    'account-selector': AccountSelector,
    'description': Description
  },
  data () {
    return {
      selectedPlatform: '',
      platforms: [],
      backupFileUpload: apis.getUrl('backupFileUpload')
    }
  },
  methods: {
    submitUpload () {
      this.$refs.uploadBackup.submit()
    }
  }
}
</script>
