<template lang="pug">
div
  description(content='블로그의 포스팅 내용을 .JSON 또는 .XML 파일로 백업합니다.')
  el-select(ref='selectRemotePlatform' v-model='selectedPlatform' placeholder='블로그 플랫폼 선택')
    el-option(v-for='platform in platforms'
              :key='platform._id' v-bind:label='platform.name' v-bind:value='platform.name')
  account-selector(v-bind:platform='selectedPlatform')
  el-button#remoteBackupBtn(type='primary') 백업하기
</template>
<script>
import Description from '../common/Description'
import AccountSelector from '../common/AccountSelector'
import request from 'request'
import apis from '../../apis'

export default {
  name: 'RemoteBackup',
  components: {
    'description': Description,
    'account-selector': AccountSelector
  },
  created () {
    request.get({url: apis.getUrl('platforms')}, (error, response, result) => {
      if (error) {
        console.error(error)
      } else {
        this.platforms = JSON.parse(result).platforms
        this.selectedPlatform = this.platforms[0].name
      }
    })
  },
  data () {
    return {
      accounts: [],
      platforms: [],
      selectedPlatform: ''
    }
  }
}
</script>
<style scoped>
#remoteBackupBtn {
  margin-top: 10px;
}
</style>
