<template lang="pug">
el-row(style='top: -8px; width:65%')
  category-header(title='포스팅 백업 불러오기' description='XML 또는 JSON 형식의 백업을 불러옵니다.')
  
  el-tabs(tab-position='top' style='margin-top: -10px')
    el-tab-pane(label='PC로 백업한 글 복구하기')
      local-restore
    el-tab-pane(label='블로그로 백업한 글 복구하기')
      remote-restore
</template>
<script>
import CategoryHeader from '../common/CategoryHeader'
import RemoteRestore from './remoteRestore'
import LocalRestore from './localRestore'

export default {
  name: 'RestoreMachine',
  components: {
    'category-header': CategoryHeader,
    'remote-restore': RemoteRestore,
    'local-restore': LocalRestore
  }
}
</script>
