<template lang="pug">
el-table(:data='users' height='300')
  el-table-column(type='selection')
  el-table-column(label='계정 또는 블로그 이름')
    template(slot-scope='scope') {{ scope.row.account }}
</template>
<script>
import apis from '../../apis'
import request from 'request'

export default {
  name: 'AccountSelector',
  props: ['platform'],
  watch: {
    platform (selected) {
      const platformGetUrl = new URL(apis.getUrl('platforms'))
      const userGetUrl = new URL(apis.getUrl('users'))
      platformGetUrl.searchParams.append('name', selected)

      request.get({url: platformGetUrl.href}, (error, response, result) => {
        if (error) {
          console.error(error)
        } else {
          const platformId = JSON.parse(result).platforms[0]._id

          userGetUrl.searchParams.append('blogEngine', platformId)
          request.get({url: userGetUrl}, (error, response, result) => {
            if (error) {
              console.error(error)
            } else {
              this.users = JSON.parse(result).users
              console.log(this.users)
            }
          })
        }
      })
    }
  },
  data () {
    return {
      users: []
    }
  }
}
</script>
