<template lang="pug">
div(class='category_header_common')
  p(class='category_header_title') {{ this.$props.title }}
  p(class='category_header_desc') {{ this.$props.description}}
  
</template>
<script>
export default {
  name: 'category_header_common',
  props: ['title', 'description']
}
</script>
<style scoped>
.category_header_title {
  font-size: 2.0em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.category_header_desc {
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 20px;
}
</style>
