<template lang="pug">
  p(class='description-content') {{ this.$props.content }}
</template>
<script>
export default {
  name: 'Description',
  props: ['content']
}
</script>
<style scoped>
.description-content {
  font-size: 1.3em;
}
</style>
