<template lang="pug">
  el-row
    el-button(type='primary' icon='fas fa-plus-square') 
      span {{text}}
</template>
<script>
export default {
  name: 'FooterAddButton',
  props: {
    text: String
  }
}
</script>
<style scoped>
span {
  margin-left: 10px;
}
</style>
