<template lang="pug">
div(class='menu-header-body')
  p(class='menu-header-title')
    i(class='menu-header-icon' v-bind:class='icon')
    | {{ this.$props.title }}
</template>
<script>
export default {
  name: 'MenuHeader',
  props: ['title', 'icon']
}
</script>
<style scoped>
.menu-header-title {
  font-size: 1.5em;
}
.menu-header-body {
  display: flex;
}
.menu-header-icon {
  margin-right: 5px;
}
</style>
