<template lang="pug">
  div
    p Words: {{wordcount}}

</template>
<script>
export default {
  name: 'WordCounter',
  props: {
    count: 0
  },
  computed: {
    wordcount () {
      return String(this.$props.count)
    }
  }
}
</script>
<style scoped>
</style>
