<template lang="pug">
div(class='account_detail_view')
  div(v-for='k in Object.keys(info)')
    detail-view(v-bind:name='k' v-bind:value='info[k]')
    
</template>
<script>
import detailComponentVue from './detailComponent.vue'

export default {
  name: 'AccountDetailView',
  components: {
    'detail-view': detailComponentVue
  },
  data () {
    return {
      info: {}
    }
  },
  props: ['accountInfo'],
  created () {
    this.refreshData()
  },
  /**
   * filterData()
   * account detailView에서 불필요한 항목을 제거하고 나타낼 항목들을 필터링한다.
   */
  methods: {
    refreshData () {
      this.info = this.$props.accountInfo
      this.filterData()
    },
    filterData () {
      this.info = {...this.info, ...this.info.item}
      this.info = {...this.info, ...this.info.auth}
      delete this.info._id
      delete this.info.selected
      delete this.info.item
      delete this.info.auth
      delete this.info.__v
      delete this.info.blogEngine
      delete this.info.blogNickname
      delete this.info.id
      delete this.info.detailVisible
      delete this.info.account
      delete this.info.url
    }
  }
}
</script>
<style scoped>
.detail-view {
  margin: 5px;
}
</style>
