<template lang="pug">
  div(class='detail_component')
    label(class='accountDetailName') {{ dname }}  
    label(class='accountDetailContent') {{ dvalue }}
  
</template>
<script>
import i18n from '../../../configs/i18next.config.js'

export default {
  name: 'AccountDetailItem',
  props: ['name', 'value'],
  data () {
    return {
      dname: i18n.t(this.$props.name),
      dvalue: this.$props.value === '' ? i18n.t('isempty') : this.$props.value
    }
  }
}
</script>
<style scoped>
.detail_component {
  display: flex;
  justify-content: left;
}
.accountDetailName {
  width: 200px;
  margin: 5px;
  text-align: right;
  margin-right: 25px;
}
.accountDetailContent {
  max-width: 350px;
  word-wrap: break-word;
  margin: 5px;
  text-align:left;
}
</style>
