<template lang="pug">
div(class='body' v-bind:style='{background: this.backgroundColor}'
    v-on:click='handleClick')
  h1(class='category_name' v-on:click='handleClick') {{name}}
</template>
<script>
export default {
  name: 'CategoryEntry',
  props: {
    'name': String,
    'desc': String,
    'isSelected': Boolean
  },
  watch: {
    isSelected () {
      if (this.isSelected) {
        this.backgroundColor = '#F2F6FC'
      } else {
        this.backgroundColor = '#FFFFFF'
      }
    }
  },
  methods: {
    handleClick () {
      this.$emit('click')
    }
  },
  data () {
    return {
      backgroundColor: '#FFFFFF'
    }
  }
}
</script>
<style scoped>
.body {
  border-bottom: 1px solid #DCDFE6;
  vertical-align: middle;
  padding: 25px;
}
.category_name {
  margin: 0;
  padding: 0;
}
</style>
