<template lang="pug">
div
  h1 CATEGORIES

  div(class='div_item')
    footer-add-button(text="Add a new category")

  el-tree(:data='categories' :props='categoryProps' @node-click='handleNodeClick' draggable)
</template>
<script>
import FooterAddButton from '../common/FooterAddButton.vue'
import CategoryEntry from './categoryEntry.vue'

export default {
  name: 'CategoryList',
  components: {
    'footer-add-button': FooterAddButton,
    'category-entry': CategoryEntry
  },
  created () {
    // TODO 추후에 MockObject를 초기화하는 아래 코드는 반드시 삭제되어야 한다.
    this.prepareMockObject()
  },
  data () {
    return {
      // 카테고리 리스트
      categories: [],
      // 현재 사용자가 선택한 카테고리 인덱스
      selected: 0,
      categoryProps: String
    }
  },
  watch: {
    selected () {
      this.$emit('categoryChanged', this.selected, this.categories[this.selected])
    }
  },
  methods: {
    // UI 테스트를 위한 메서드
    prepareMockObject () {
      this.categories = [{
        label: 'Level one 1',
        children: [{
          label: 'Level two 1-1',
          children: [{
            label: 'Level three 1-1-1'
          }]
        }]
      }, {
        label: 'Level one 2',
        children: [{
          label: 'Level two 2-1',
          children: [{
            label: 'Level three 2-1-1'
          }]
        }, {
          label: 'Level two 2-2',
          children: [{
            label: 'Level three 2-2-1'
          }]
        }]
      }, {
        label: 'Level one 3',
        children: [{
          label: 'Level two 3-1',
          children: [{
            label: 'Level three 3-1-1'
          }]
        }, {
          label: 'Level two 3-2',
          children: [{
            label: 'Level three 3-2-1'
          }]
        }]
      }]
    },
    handleClick (index) {
      this.selected = index
    },
    handleNodeClick (index) {
      this.console.log('handle node click')
    },
    isSelected (index) {
      return this.selected === index
    }
  }
}
</script>
<style scoped>

.div_item {
  margin: 20px 0px;
}
</style>
