<template lang="pug">
div#body_editorview
  div#editor_title-bar
    title-bar(v-bind:title='title'
              v-on:titleChanged='titleChanged'
              v-on:saveDraft='saveDraft')
  div#editor_tool-bar
    tool-bar
  div#editor_edit-box
    edit-box(v-bind:propContent='content'
             v-on:contentChanged='editBoxContentChanged'
             v-on:editboxInitialized='editboxInitialized')
  div
    word-counter(:count='wordCount')
</template>
<script>
import TitleBar from './titleBar'
import ToolBar from './toolBar'
import EditBox from './editBox'
import WordCounter from '../common/WordCount'
import tempStorage from '../../temp'

export default {
  name: 'EditorView',
  components: {
    'title-bar': TitleBar,
    'tool-bar': ToolBar,
    'edit-box': EditBox,
    'word-counter': WordCounter
  },
  beforeMount () {
    this.loadDraft()
  },
  beforeDestroy () {
    if (this.title || this.content) {
      this.saveDraft()
    }
  },
  data () {
    return {
      content: String,
      wordCount: '0',
      title: String
    }
  },
  methods: {
    editBoxContentChanged (content, editbox) {
      this.content = content
      this.wordCount = content.length
    },
    editboxInitialized (content) {
      this.content = content
      this.wordCount = content.length
    },
    titleChanged (newTitle) {
      this.title = newTitle
    },
    saveDraft (title) {
      tempStorage.saveData('draftTitle', this.title)
      tempStorage.saveData('draftContent', this.content)
      this.$message({
        message: '임시 저장되었습니다',
        type: 'success',
        duration: 800
      })
    },
    loadDraft () {
      this.title = tempStorage.getData('draftTitle')
      this.content = tempStorage.getData('draftContent')
      if (!this.content) {
        this.content = 'Write something...'
      }
    }
  }
}
</script>
<style scoped>
#body_editorview {
  height: inherit;
  max-height: inherit;
}
#editor_edit-box {
  margin-top: 10px;
  margin-left: 3px;
  font-size: 13px;
}
</style>
