<template lang="pug">
div#editor_editbox(ref='editbox' class='body_editbox' contenteditable v-bind:style='editboxStyle'
    v-on:keyup.ctrl='keyUp($event)') {{content}}
</template>
<script>
import { EventBus } from '../../eventBus.js'

export default {
  name: 'EditBox',
  props: ['propContent'],
  mounted () {
    this.$refs.editbox.addEventListener('input', this.emitEditboxChangedEvent)
    this.$emit('editboxInitialized', this.content)
    this.$refs.editbox.textContent = this.$props.propContent
  },
  beforeDestroy () {
    this.$refs.editbox.removeEventListener('input', this.emitEditboxChangedEvent)
  },
  data () {
    return {
      editboxStyle: {
        'max-height': '60vh',
        'min-height': '60vh',
        'border': '0px solid var(--arch-color-5)',
        'padding': '30px 0px'
      },
      content: this.$props.propContent
    }
  },
  methods: {
    emitEditboxChangedEvent () {
      this.$emit('contentChanged', this.$refs['editbox'].textContent, this.$refs['editbox'])
    },
    keyUp (event) {
      // 사용자가 컨트롤 키를 이용하여 edit box 내에서 스타일을 지정했을 경우
      // 변경 사항을 toolbar에 적용하기 위해 주요 상태를 확인하여 trigger한다.
      // (일반적인 경우인 Bold, Italic, Underline에 대해서만 처리한다.)
      let key = event.key

      if (key === 'b') {
        EventBus.$emit('editBoxCommandStateChanged', 'bold')
      } else if (key === 'i') {
        EventBus.$emit('editBoxCommandStateChanged', 'italic')
      } else if (key === 'u') {
        EventBus.$emit('editBoxCommandStateChanged', 'underline')
      }
    }
  }
}
</script>
<style scoped>
.body_editbox {
  border: 0px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 3px;
  background: var(--arch-color-5); /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: var(--arch-color-4);
}
.body_editbox:focus {
  outline: none;
}
</style>
