<template lang="pug">
  div(class='embedded-code-helper')
    span Embedded code
      el-input(type='textarea' autosize placeholder='Insert embedded code...' v-model='embeddedCode')
    
    div(class='code-insert-helper-buttons')
      el-button(@click='clickConfirm' size='small') Confirm
      el-button(@click='clickClose' size='small') Close
</template>
<script>
export default {
  Name: 'EmbeddedCodeHelper',
  data () {
    return {
      embeddedCode: ''
    }
  },
  methods: {
    clickConfirm () {
      this.$emit('confirmEmbeddedCode', this.embeddedCode)
    },
    clickClose () {
      this.$emit('closeEmbeddedCode')
    }
  }
}
</script>
<style scoped>
.embedded-code-helper {
  z-index: 2;
  position: absolute;
  max-width: 350px;
  background: white;
  border: 1px solid #DCDFE6;
  padding: 10px;
}

.code-insert-helper-buttons {
  margin-top: 15px;
}
</style>