<template lang="pug">
div(class='hyperlink-helper')
  span Hyperlink text
    el-input(placeholder='Text for hyperlink' v-model='name')
  
  span Link URL
    el-input(placeholder='URL...' v-model='url')
      template(slot='prepend') {{protocol}}://
    el-checkbox(v-model='aboveChecked' style='padding:10px 0px;') Open the page above
  
  div(class='hyperlink-helper-buttons')
    el-button(@click='clickConfirm') Confirm
    el-button(@click='clickClose') Close

</template>
<script>
export default {
  name: 'HyperLinkHelper',
  data () {
    return {
      url: '',
      name: '',
      aboveChecked: true,
      protocol: 'https'
    }
  },
  watch: {
    url () {
      if (this.url.includes('://')) {
        let el = this.url.split('://')
        this.protocol = el[0]
        this.url = el[1]
      }
    }
  },
  methods: {
    clickConfirm () {
      this.$emit('confirmHyperlink', this.name, this.protocol + '://' + this.url, this.aboveChecked)
    },
    clickClose () {
      this.$emit('closeHyperlink')
    }
  }
}
</script>
<style scoped>
span {
  margin-top: 10px;
}
.hyperlink-helper {
  z-index: 2;
  position: absolute;
  max-width: 350px;
  background: white;
  border: 1px solid #DCDFE6;
  padding: 10px;
}
</style>

