<template lang="pug">
  div(class='image-insert-helper')
    div(class='image-insert-helper-buttons')
      el-button(@click='clickSelectFile' type='primary' size='mini') Select file
      input(type='file' size='small' id='file_input' ref='file_input' v-on:change='selectedFileChanged($event.target)' visibility='hidden')
      div(style='margin-top:1em;')
        el-checkbox(v-model='isLocalSaveOn') Allow the application save images to local storage.
    div(style='margin-bottom: 1em;')
      div(v-for='(item, index) in images' class='inserted-file-list' v-on:click='clickFileItem(index)')
        el-button(v-if='selectedIdx == index' icon='el-icon-check' circle size='mini' class='file-check-icon' type='success')
        el-button(v-else icon='el-icon-check' circle size='mini' class='file-check-icon')
        span(class='file-list-item' v-on:click='clickFileItem(index)') {{getBaseName(item)}}
        i(class='file-close-icon el-icon-circle-close' v-on:click='clickRemoveItem(index)')
    div(class='image-insert-helper-buttons')
      el-button(@click='clickInsertButton' type='success') Insert
      el-button(@click='clickCloseButton' v-on:click='clickCloseButton()') Close

</template>
<script>
var path = require('path')

export default {
  name: 'ImageInsertHelper',
  data () {
    return {
      images: ['a.png', 'b.png'],
      isLocalSaveOn: true,
      selectedIdx: -1
    }
  },
  methods: {
    clickSelectFile () {
      this.$refs['file_input'].click()
    },
    selectedFileChanged (element) {
      let newFile = path.basename(element.files[0].name)

      if (!this.images.includes(newFile)) {
        this.images.push(newFile)
      }
      element.value = ''
    },
    getBaseName (filePath) {
      return path.basename(filePath)
    },
    clickCloseButton () {
      this.$emit('closeImageInsertHelper')
    },
    clickRemoveItem (index) {
      this.images.splice(index, 1)
    },
    clickFileItem (index) {
      this.selectedIdx = index
    },
    clickInsertButton () {
      // 선택한 파일이 없을 경우 에러 표시
      if (this.selectedIdx === -1) {
        this.$message({
          showClose: true,
          message: 'You should select the item first.',
          type: 'error'
        })
      } else {
        this.$emit('imageSelectedToInsert', this.images[this.selectedIdx])
      }
    }
  }
}
</script>
<style scoped>
 #file_input {
   opacity: 0;
 }

 .file-check-icon {
   margin-right: 10px;
 }

 .inserted-file-list {
   padding: 10px 15px;
   cursor: pointer;
 }

 .inserted-file-list:hover {
   background-color: var(--arch-color-5);
 }

 .image-insert-helper {
   background: white;
   border: 1px solid #DCDFE6;
   position: absolute;
   z-index: 2;
   min-width: 500px;
   padding: 15px;
 }

 .image-insert-helper-buttons {
   padding:10px;
 }

 .el-checkbox {
   margin-left: 5px;
   margin-bottom: 10px;
 }

 .file-list-item {
   font-size: 13px;
   color: var(--elemental-color-4)
 }

 .file-close-icon {
   cursor: pointer;
   margin-left: 15px;
 }

 ul {
   padding: 0px;
   margin: 10px;
   cursor: pointer;
 }

 .el-upload-list {
   cursor: pointer;
 }

</style>
