<template lang="pug">
div
  div(class='div_item')
    footer-add-button(text='New note')
  div(class='div_item')
    ul(v-for='(note, index) in notes')
      note-entry(:title='note.title'
                 :desc='note.desc'
                 v-bind:isSelected='isSelected(index)'
                 v-on:click='handleClick(index)')
</template>
<script>
import FooterAddButton from '../common/FooterAddButton.vue'
import NoteEntry from './noteEntry.vue'

export default {
  name: 'NoteList',
  components: {
    'footer-add-button': FooterAddButton,
    'note-entry': NoteEntry
  },
  created () {
    this.prepareMockObject()
  },
  data () {
    return {
      notes: [],
      selected: 0
    }
  },
  watch: {
    selected () {
      this.$emit('noteChanged', this.selected, this.categories[this.selected])
    }
  },
  methods: {
    // UI 테스트를 위한 메서드
    prepareMockObject () {
      this.notes = [{
        'title': 'title1',
        'desc': 'desc1'
      },
      {
        'title': 'title2',
        'desc': 'desc2'
      },
      {
        'title': 'title3',
        'desc': 'desc3'
      },
      {
        'title': 'title4',
        'desc': 'desc4'
      },
      {
        'title': 'title5',
        'desc': 'desc4'
      },
      {
        'title': 'title6',
        'desc': 'desc4'
      },
      {
        'title': 'title7',
        'desc': 'desc4'
      }]
    },
    handleClick (index) {
      this.selected = index
    },
    isSelected (index) {
      return this.selected === index
    }
  }
}
</script>
<style scoped>
ul {
  padding: 0px;
  margin: 0px;
}

.div_item {
  margin: 10px 0px 20px;
}

.note-entry {
  margin: 30px 0px;
  box-shadow: rgb(153, 165, 186) 0px 0px 10px;
  cursor: pointer;
}
</style>
