<template lang="pug">
div(class='note-entry'
    v-bind:style='{background: this.backgroundColor}'
    v-on:click='handleClick')
  h1(v-on:click='handleClick') {{title}}
  h2(v-on:click='handleClick') {{desc}}
</template>
<script>
export default {
  name: 'NoteEntry',
  props: {
    'title': String,
    'desc': String,
    'isSelected': Boolean
  },
  watch: {
    isSelected () {
      if (this.isSelected) {
        this.backgroundColor = '#E4E7ED'
      } else {
        this.backgroundColor = '#FFFFFF'
      }
    }
  },
  methods: {
    handleClick () {
      this.$emit('click')
    }
  },
  data () {
    return {
      backgroundColor: '#FFFFFF'
    }
  }
}
</script>
<style scoped>
div {
  border-bottom: 1px solid;
  padding: 20px;
  height: 150px;
}
h1, h2 {
  margin: 0px;
  padding: 0px;
}
</style>
