<template lang="pug">
  div(class='paragraph-selector')
    ul(class='paragraph-selector-ul')
      li(class='paragraph-selector-li' paragraph-normal @click='styleNormal')
        p normal
      li(class='paragraph-selector-li' paragraph-heading-1 @click='styleHeading_1')
        h1 heading 1
      li(class='paragraph-selector-li' paragraph-heading-2 @click='styleHeading_2')
        h2 heading 2
      li(class='paragraph-selector-li' paragraph-heading-3 @click='styleHeading_3')
        h3 heading 3
      li(class='paragraph-selector-li' paragraph-heading-4 @click='styleHeading_4')
        h4 heading 4
      li(class='paragraph-selector-li' paragraph-code @click='styleCode')
        code &lt;code&gt;

</template>
<script>
export default {
  name: 'ParagraphSelector',
  methods: {
    styleNormal () {
      document.execCommand('formatBlock', false, 'p')
    },
    styleHeading_1 () {
      document.execCommand('formatBlock', false, '<h1>')
    },
    styleHeading_2 () {
      document.execCommand('formatBlock', false, '<h2>')
    },
    styleHeading_3 () {
      document.execCommand('formatBlock', false, '<h3>')
    },
    styleHeading_4 () {
      document.execCommand('formatBlock', false, '<h4>')
    },
    styleCode () {
      document.execCommand('formatBlock', false, 'pre')
    }
  }
}
</script>
<style scoped>
p {
  margin: 0px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

code {
  margin: 0px;
}

ul {
  padding: 0px;
}

.paragraph-selector {
  z-index: 3;
  position: absolute;
  left: 0px;
}
.paragraph-selector-ul {
  list-style-type: none;
  background: white;
  border: 1px solid #DCDFE6;
}
.paragraph-selector-li {
  margin: 0px;
  font-family: monospace;
  padding: 10px;
  text-align: left;
  color: black;
}
.paragraph-selector-li:hover {
  background: #DCDFE6;
  padding: 10px;
  cursor: pointer;
  
}
</style>
