<template lang="pug">
div(id='editor_title-bar')
  div
    el-button-group
      el-button(type='primary' icon='fas fa-upload fa-fw' size='mini' @click='uploadPost')
      el-button(icon='fas fa-save fa-fw' size='mini' @click='saveDraft')
      el-button(icon='fas fa-code-branch fa-fw' size='mini' @click='showChanges')
  div
    input(placeholder='글 제목 입력' v-model='titleData' class='inputbox_header' ref='titleInputBox')
</template>
<script>
export default {
  name: 'TitleBar',
  props: ['title'],
  mounted () {
    this.$refs.titleInputBox.textContent = this.$props.title
  },
  data () {
    return {
      titleData: this.$props.title
    }
  },
  watch: {
    titleData () {
      this.$emit('titleChanged', this.titleData)
    }
  },
  methods: {
    uploadPost () {
      this.$router.push('/post_ready')
    },
    saveDraft () {
      console.log('save')
      this.$emit('saveDraft', this.titleData)
    },
    showChanges () {
      console.log('diff')
    }
  }
}
</script>
<style scoped>
.inputbox_header {
  font-size: 3em;
  border-width: 0px 0px 0px 0px;
  border-color: #dcdfe6;
  margin-bottom: 20px;
  padding: 3px;
  max-width: 700px;
  width: 80%;
  outline: none;
}

.el-button-group {
  margin-bottom: 30px;
}

#editor_title-bar {
  display: block;
}
</style>
