<template lang="pug">
div
  el-button-group
    el-button(icon='fas fa-align-left fa-fw' size='mini' @click='clickAlignLeft()' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-align-center fa-fw' size='mini' @click='clickAlignCenter' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-align-right fa-fw' size='mini' @click='clickAlignRight' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-paragraph fa-fw' size='mini' @click='clickParagraphToggle' onfocus='this.blur()' tabindex='-1')
      paragraph-selector(v-if='paragraphOn')

    el-button(icon='fas fa-quote-left fa-fw' size='mini' @click='clickBlockQuote' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-indent fa-fw' size='mini' @click='clickIndent' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-outdent fa-fw' size='mini' @click='clickOutdent' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-list-ol fa-fw' size='mini' @click='clickInsertOrderedList' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-list-ul fa-fw' size='mini' @click='clickInsertUnorderedList' onfocus='this.blur()' tabindex='-1')

  el-button-group
    el-button(icon='fas fa-bold fa-fw' size='mini' @click='clickBold' onfocus='this.blur()' tabindex='-1' v-bind:class='{"is-active": isBoldOn}')
    el-button(icon='fas fa-italic fa-fw' size='mini' @click='clickItalic' onfocus='this.blur()' tabindex='-1' v-bind:class='{"is-active": isItalicOn}')
    el-button(icon='fas fa-underline fa-fw' size='mini' @click='clickUnderline' onfocus='this.blur()' tabindex='-1' v-bind:class='{"is-active": isUnderlineOn}')
    el-button(icon='fas fa-strikethrough fa-fw' size='mini' @click='clickStrikeThrough' onfocus='this.blur()' tabindex='-1' v-bind:class='{"is-active": isStrikeThroughOn}')
    el-button(icon='fas fa-subscript fa-fw' size='mini' @click='clickSubscript' onfocus='this.blur()' tabindex='-1' v-bind:class='{"is-active": isSubscriptOn}')
    el-button(icon='fas fa-superscript fa-fw' size='mini' @click='clickSuperscript' onfocus='this.blur()' tabindex='-1' v-bind:class='{"is-active": isSuperscriptOn}')

  el-button-group
    el-button(icon='fas fa-link fa-fw' size='mini' onfocus='this.blur()' tabindex='-1' @click='clickHyperLink($event)')
    hyperlink-helper(v-if='hyperlinkOn'
                    v-bind:style='hyperlinkStyle'
                    v-on:confirmHyperlink='hyperlinkConfirmHandler'
                    v-on:closeHyperlink='hyperlinkCloseHandler')
    el-button(icon='fas fa-share-alt fa-fw' size='mini' onfocus='this.blur()' tabindex='-1' @click='clickEmbeddedCode($event)')
    embedded-code-helper(v-if='embeddedCodeOn'
                        v-bind:style='embeddedCodeDivStyle'
                        v-on:confirmEmbeddedCode='embeddedConfirmHandler'
                        v-on:closeEmbeddedCode='embeddedCloseHandler')

    el-button(icon='fas fa-image fa-fw' size='mini' onfocus='this.blur()' tabindex='-1' @click='clickInsertImage($event.target)')
    image-insert-helper(v-if='insertImageHelperOn'
                        v-on:closeImageInsertHelper='insertImageHelperOn=false'
                        v-on:imageSelectedToInsert='insertSelectedImage'
                        v-bind:style='insertImageHelperStyle')
    el-button(icon='fas fa-video fa-fw' size='mini' onfocus='this.blur()' tabindex='-1' @click='clickInsertVideo($event.target)')
    video-insert-helper(v-if='insertVideoHelperOn'
                        v-on:closeVideoInsertHelper='insertVideoHelperOn=false'
                        v-on:videoSelectedToInsert='insertSelectedVideo'
                        v-bind:style='insertVideoHelperStyle')

    el-button(icon='fas fa-file fa-fw' size='mini' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-undo fa-fw' size='mini' onfocus='this.blur()' tabindex='-1' @click='clickUndo')
    el-button(icon='fas fa-redo fa-fw' size='mini' onfocus='this.blur()' tabindex='-1' @click='clickRedo')
    el-button(icon='fas fa-expand fa-fw' size='mini' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-code fa-fw' size='mini' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-table fa-fw' size='mini' onfocus='this.blur()' tabindex='-1')
    el-button(icon='fas fa-question fa-fw' size='mini' onfocus='this.blur()' tabindex='-1')

  el-row(id='fontStyleEdit' type='flex' :gutter='3' justify='start' align='middle')
    el-col(:span='12')
      el-select(v-model='selectedFont' filterable tabindex='-1'
                placeholder='Font' size='mini' id='fontStyleSelector')
        el-option(v-for='item in fontlist' :key='item.value' :label='item.label' :value='item.value' tabindex='-1')
    el-col(:span='5')
      el-input-number(id='fontSizeSelector' v-model='fontsize' size='mini' controls-position='right' :min='8' :max='100' tabindex='-1')
    el-col
      el-color-picker(v-model='fontcolor' size='small' v-on:change='colorChanged' tabindex='-1')
    el-col
      div

</template>
<script>
import ParagraphSelector from './ParagraphSelector'
import HyperLinkHelper from './HyperLinkHelper'
import EmbeddedCodeHelper from './EmbeddedCodeHelper'
import ImageInsertHelper from './ImageInsertHelper'
import VideoInsertHelper from './VideoInsertHelper'
import { EventBus } from '../../eventBus.js'

export default {
  name: 'ToolBar',
  components: {
    'paragraph-selector': ParagraphSelector,
    'hyperlink-helper': HyperLinkHelper,
    'embedded-code-helper': EmbeddedCodeHelper,
    'image-insert-helper': ImageInsertHelper,
    'video-insert-helper': VideoInsertHelper
  },
  created () {
    EventBus.$on('editBoxCommandStateChanged', this.setCommandStateHandler)
  },
  data () {
    return {
      // 스타일 Helper 토글 변수
      paragraphOn: false,
      hyperlinkOn: false,
      embeddedCodeOn: false,
      insertImageHelperOn: false,
      insertVideoHelperOn: false,
      // 스타일 Helper 위치 변수
      hyperlinkStyle: {
        top: 0
      },
      embeddedCodeDivStyle: {
        top: 0
      },
      insertImageHelperStyle: {
        top: 0
      },
      insertVideoHelperStyle: {
        top: 0
      },
      // 편집기 스타일 버튼에 대한 토글 변수
      isBoldOn: false,
      isItalicOn: false,
      isUnderlineOn: false,
      isStrikeThroughOn: false,
      isSubscriptOn: false,
      isSuperscriptOn: false,
      selectedFont: '',
      fontsize: 8,
      fontcolor: '#000000',
      fontlist: [
        {
          value: 'Option1',
          label: 'Option1'
        },
        {
          value: 'Option2',
          label: 'Option2'
        },
        {
          value: 'Option3',
          label: 'Option3'
        },
        {
          value: 'Option4',
          label: 'Option4'
        },
        {
          value: 'Option5',
          label: 'Option5'
        }]
    }
  },
  methods: {
    clickAlignLeft () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('justifyLeft')
    },
    clickAlignCenter () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('justifyCenter')
    },
    clickAlignRight () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('justifyRight')
    },
    clickParagraphToggle () {
      this.paragraphOn = !this.paragraphOn
    },
    clickIndent () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('indent')
    },
    clickOutdent () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('outdent')
    },
    clickInsertUnorderedList () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('insertUnorderedList')
    },
    clickInsertOrderedList () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('insertOrderedList')
    },
    clickBold () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('bold')
      this.isBoldOn = !this.isBoldOn
    },
    clickItalic () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('italic')
      this.isItalicOn = !this.isItalicOn
    },
    clickUnderline () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('underline')
      this.isUnderlineOn = !this.isUnderlineOn
    },
    clickStrikeThrough () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('strikeThrough')
      this.isStrikeThroughOn = !this.isStrikeThroughOn
    },
    clickSubscript () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('subscript')
      this.isSubscriptOn = !this.isSubscriptOn
    },
    clickSuperscript () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('superscript')
      this.isSuperscriptOn = !this.isSuperscriptOn
    },
    clickBlockQuote () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('formatBlock', false, '<blockquote>')
    },
    clickHyperLink ($event) {
      this.hyperlinkOn = true

      let hyperBtn = $event.target
      this.hyperlinkStyle['top'] = (hyperBtn.getBoundingClientRect().top + 30) + 'px'
    },
    clickEmbeddedCode ($event) {
      this.embeddedCodeOn = true

      let embeddedBtn = $event.target
      this.embeddedCodeDivStyle['top'] = (embeddedBtn.getBoundingClientRect().top + 30) + 'px'
    },
    clickUndo () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('undo')
    },
    clickRedo () {
      document.getElementById('editor_editbox').focus()
      document.execCommand('redo')
    },
    clickInsertImage (element) {
      this.insertImageHelperOn = true
      this.insertImageHelperStyle['top'] = (element.getBoundingClientRect().top + 30) + 'px'
    },
    clickInsertVideo (element) {
      this.insertVideoHelperOn = true
      this.insertVideoHelperStyle['top'] = (element.getBoundingClientRect().top + 30) + 'px'
    },
    colorChanged (color) {
      this.fontcolor = color
    },
    // toolbar helper 관련 핸들러
    hyperlinkConfirmHandler (name, url, aboveChecked) {
      var htmlTag = '<a href="' + url + '"'
      if (aboveChecked) {
        htmlTag += ' target="_blank"'
      }
      htmlTag += '>' + name + '</a>'
      document.getElementById('editor_editbox').focus()
      document.execCommand('insertHTML', false, htmlTag)

      this.hyperlinkOn = false
    },
    hyperlinkCloseHandler () {
      this.hyperlinkOn = false
    },
    embeddedConfirmHandler (code) {
      document.getElementById('editor_editbox').focus()
      document.execCommand('insertHTML', false, code)

      this.embeddedCodeOn = false
    },
    embeddedCloseHandler () {
      this.embeddedCodeOn = false
    },
    setCommandStateHandler (changedCommand) {
      document.getElementById('editor_editbox').focus()

      // editbox에서 사용자가 Ctrl-{b,i,u}의 조합키를 이용하여 스타일을 변경했을 때 toolbar와 동기화함
      if (changedCommand === 'bold') {
        this.isBoldOn = document.queryCommandState('bold')
      } else if (changedCommand === 'italic') {
        this.isItalicOn = document.queryCommandState('italic')
      } else if (changedCommand === 'underline') {
        this.isUnderlineOn = document.queryCommandState('underline')
      }
    },
    insertSelectedImage (imageName) {
      this.insertImageHelperOn = false
      // TODO Selected 한 부분은 반드시 추후에 Backend로 처리할 수 있도록 구현해야 한다.
    },
    insertSelectedVideo (videoName) {
      this.insertVideoHelperOn = false
      // TODO 비디오 처리도 이미지와 마찬가지로 Backend의 RestAPI로 처리한다.
    }
  }
}
</script>
<style scoped>
.el-color-picker {
  display: inline-flex;
}
.el-input-number {
  z-index: 0;
}
.el-button-group {
  padding: 1px;
}
#fontStyleEdit {
  padding: 1px;
}
#fontStyleSelector {
  margin-right: 1px;
}
#fontSizeSelector {
  margin-left: 1px;
}
</style>
