<template lang="pug">
div#commandToolTip
  el-dialog(v-bind:title='title' v-bind:visible='visibilityData'
            width='600px;' :before-close="handleClose")
    el-table(:data='shortcuts')
      el-table-column(prop='shortkey' label='키')
      el-table-column(prop='description' label='내용')
  </span>
      
</template>
<script>
export default {
  name: 'CommandTooltip',
  props: ['visibility'],
  methods: {
    handleClose (done) {
      this.$emit('tooltipVisibilityChanged', false)
      done()
    }
  },
  computed: {
    visibilityData () {
      return this.$props.visibility
    }
  },
  data () {
    return {
      title: '키 도움말',
      shortcuts: [{
        shortkey: 'h',
        description: '도움말 보기'
      }, {
        shortkey: '숫자',
        description: '숫자에 해당하는 필터를 조건식에 추가'
      }, {
        shortkey: 'o',
        description: '조건에 또는(OR) 추가'
      }, {
        shortkey: 'a',
        description: '조건에 그리고(AND) 추가'
      }, {
        shortkey: '(',
        description: '조건에 괄호 추가'
      }, {
        shortkey: ')',
        description: '조건에 괄호 추가'
      }]
    }
  }
}
</script>
