<template lang="pug">
div(class='filter_item_div')
  // 조건 카테고리 선택
  el-select(class='filterSelector' placeholder='조건 카테고리' v-model='selectedFilter')
    el-option(v-for='item in filter_condition'
              :label='item.label' :value='item.value')
  // 중간 레이블
  p(class='filterLabel') 이(가)
  // 조건 값 입력 창
  el-input(class='filterInput' placeholder='조건 값 입력' v-model='item.value')
  el-button(class='removeFilter' icon='el-icon-circle-close'
            type='text' size='tiny' @click='removeFilter')
</template>
<script>
export default {
  name: 'FilterItem',
  props: ['item'],
  methods: {
    toggleCondition (item) {
      item.toggleCondition()
    },
    getConditionStr (condition) {
      if (condition === 'AND') {
        return '그리고'
      } else if (condition === 'OR') {
        return '또는'
      }
    },
    removeFilter () {
      this.$emit('removeFilter')
    }
  },
  data () {
    return {
      'filter_condition': [{
        label: '카테고리',
        value: 'category'
      }, {
        label: '제목',
        value: 'title'
      }, {
        label: '태그',
        value: 'tag'
      }, {
        label: '블로그',
        value: 'platform'
      }],
      'selectedFilter': ''
    }
  }
}
</script>
<style scoped>
.filter_item_div {
  display: flex;
  justify-content: right;
  width: 400px;
}
.filterInput {
  max-width: 150px;
}
.filterSelector {
  max-width: 150px;
}
.filterLabel {
  min-width: 60px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
}
.removeFilter {
  color: grey;
  margin-left: 10px;
}
</style>


