<template lang="pug">
div
  p {{ command_desc }}  

  el-input#filterCommandDiv(ref='filterCommandDiv' type='text' v-model='commandInput')
    template(slot='prepend') 조건 식
  el-tag#filterCommandBuffer(v-for='cmd in termsInBuffer' 
                            closable 
                            :type='cmd.type' @close='removeCmdTag(cmd)') {{ cmd.name }}
  p {{ command_tip }}

  command-tooltip(v-bind:visibility='tooltipVisibility'
                  v-on:tooltipVisibilityChanged='tooltipVisibilityChanged')
  
</template>
<script>
import CommandTooltip from './commandTooltip'

export default {
  name: 'FilterCommand',
  props: ['filter'],
  beforeMount () {
    window.addEventListener('keydown', this.keyDown)
    window.addEventListener('keyup', this.keyUp)
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.keyDown)
    window.removeEventListener('keyup', this.keyUp)
  },
  data () {
    // isEvaluating: 사용자가 SPACE 키를 입력하는 순간 이전에 입력된 것을 평가한다.
    // target: SPACE 키를 입력했을 때 평가할 대상 (사용자가 입력 시 자동으로 문자열에 concatenate)
    // isError: 에러 발생 시(평가 실패 시) 사용자가 더 이상 입력하지 못하도록 설정
    return {
      'command_desc': '도움말을 보기 위해서는 help 입력 후 SPACE 또는 ENTER 키를 입력하세요',
      'command_tip': '',
      isEvaluating: false,
      target: '',
      isError: false,
      tooltipVisibility: false,
      modifierFlag: false,
      commandInput: '',
      termsInBuffer: []
    }
  },
  watch: {
    tooltipVisibility () {
      if (this.tooltipVisibility === false) {
        this.$nextTick(() => {
          this.clearInputBox()
        })
      }
    },
    isEvaluating () {
      if (this.isEvaluating === true) {
        this.$nextTick(() => {
          this.clearInputBox()
          this.isEvaluating = false
        })
      }
    }
  },
  components: {
    'command-tooltip': CommandTooltip
  },
  methods: {
    getCmdKey (cmd) {
      return cmd + '@' + this.termsInBuffer.length
    },
    bufferHtmlContent () {
      var rValue = ''
      for (let term in this.termsInBuffer) {
        rValue += '<div class="evalTerm">' + this.termsInBuffer[term] + '</div>'
      }
      return rValue
    },
    keyDown (event) {
      if (this.isInputBoxFocused()) {
        let key = event.key
        if (key === 'Control' || key === 'Alt' || key === 'Meta' || key === 'CapsLock' || key === 'Shift' || key === 'Backspace') {
          this.modifierFlag = true
        } else if (!this.modifierFlag && (key === 'Enter')) {
          const command = this.$refs.filterCommandDiv.value
          this.evaluate(command)
          event.preventDefault()
        }
      }
    },
    keyUp (event) {
      if (this.isInputBoxFocused()) {
        let key = event.key
        if (key === 'Control' || key === 'Alt' || 'Meta' || key === 'CapsLock' || key === 'Shift' || key === 'Backspace') {
          this.modifierFlag = false
        }
      }
    },
    isInputBoxFocused () {
      // 현재 사용자가 텍스트 박스에 입력하는 상황인 경우
      if (document.activeElement.tagName === 'INPUT') {
        return true
      } else {
        return false
      }
    },
    handleAlphabet (key) {
      console.log(key + 'is alphabet.')
      if (key === 'o') {
      } else if (key === 'a') {
      } else {
        this.showInputError()
        this.$refs.filterCommandDiv.textContent = this.$refs.filterCommandDiv.textContent.slice(0, -1)
      }
    },
    showHelpMessage () {
      this.tooltipVisibility = !this.tooltipVisibility
    },
    handleNumber (key) {
      if (!this.isEvaluating && !this.isError) {
        this.isEvaluating += key
      }
    },
    tooltipVisibilityChanged (flag) {
      this.tooltipVisibility = false
    },
    // Evaluation Rules
    // 1. Number + Number => Fail
    // 2. Cond + Cond => Fail
    // 3. Number > the number of Cond => Fail
    evaluate (input) {
      this.isEvaluating = true

      if (input.toLowerCase() === 'help') {
        this.showHelpMessage()
      }
    },
    removeCmdTag (tag) {
      this.termsInBuffer.splice(this.termsInBuffer.indexOf(tag), 1)
    },
    addNumericTerm (input) {
      if (input > 0 && input <= this.$props.filter.length) {
        this.termsInBuffer.push({name: input, type: 'primary'})
      } else {
        this.showInputError('추가된 필터보다 큰 숫자가 입력되었습니다.')
      }
    },
    addLogicalTerm (input) {
      var OrReg = new RegExp('^(o|OR|or)$')
      var AndReg = new RegExp('^(a|AND|and)$')
      if (OrReg.test(input)) {
        this.termsInBuffer.push({name: 'OR', type: 'danger'})
      } else if (AndReg.test(input)) {
        this.termsInBuffer.push({name: 'AND', type: 'danger'})
      }
    },
    addParentheses (input) {
      this.termsInBuffer.push({name: input, type: 'warning'})
    },
    showInputError (message = '잘못된 입력입니다. 도움말을 참고하세요.') {
      this.$message({
        showClose: true,
        message: message,
        duration: 1000,
        type: 'error'
      })
    },
    clearInputBox () {
      document.getElementById('filterCommandDiv').value = ''
    }
  }
}
</script>
<style>
#filterCommandBuffer {
  margin: 3px;
  margin-top:8
}
</style>
