<template lang="pug">
div(style='overflow:auto;')
  div(class='filterItemInList' v-for='(item, index) in filter')
    el-button(type='text' class='filterItemIndex') {{ index + 1 }}
    filter-item(v-bind:item='item' 
                v-on:removeFilter='removeFilter(item, index)')
</template>
<script>
import FilterItem from './filterItem'

export default {
  name: 'FilterList',
  props: ['filter'],
  components: {
    'filter-item': FilterItem
  },
  methods: {
    removeFilter (item, index) {
      this.$emit('removeFilter', index)
    }
  }
}
</script>
<style scoped>
.filterItemInList {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.filterItemIndex {
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: middle;
  width: 15px;
}
</style>
