<template lang="pug">
div#notebookPostList_div
  category-header(title='내가 쓴 글 목록' description='내가 쓴 글을 확인합니다.')

  div(v-for='post in posts')
    post-item(:title='post.title' 
              :content='post.content'
              :categories='post.categories'
              :tags='post.tags')
  el-pagination(layout='prev, pager, next' v-bind:total='totalPosts')
</div>
</template>
<script>
import PostItem from './postItem'
import apis from '../../apis'
import request from 'request'
import CategoryHeader from '../common/CategoryHeader'

export default {
  name: 'NotebookPostList',
  components: {
    'post-item': PostItem,
    'category-header': CategoryHeader
  },
  data () {
    return {
      posts: [],
      page: '1',
      totalPosts: 1
    }
  },
  beforeMount () {
    request.get({url: apis.getUrl('posts')}, (error, response, result) => {
      if (error) {
        console.error(error)
      } else {
        console.log(this)
        this.posts = JSON.parse(result).posts
      }
    })
  }
}
</script>
<style scoped>
.el-pagination {
  margin-top: 10px;
  text-align: left;
}
#notebookPostList_div {
  padding-left: 50px;
}
</style>
