<template lang="pug">
div#notebookFilterList
  category-header(title='글 가려내기' description='목록에 나타내고자 하는 포스팅의 속성 조건을 추가합니다.')
  el-button#addFilterCondBtn(type='primary' size='small' @click='addFilterItem') 조건 추가
  filter-list#notebookFilterList(v-bind:filter='filter' v-on:removeFilter='removeFilter')
  filter-command(v-bind:filter='filter')
</template>
<script>
import CategoryHeader from '../common/CategoryHeader'
import FilterList from './filterList'
import PostFilter from '../dataModels/PostFilter'
import FilterCommand from './filterCommand'

export default {
  name: 'NotebookFilterList',
  components: {
    'category-header': CategoryHeader,
    'filter-list': FilterList,
    'filter-command': FilterCommand
  },
  data () {
    return {
      filter: []
    }
  },
  methods: {
    addFilterItem () {
      this.filter.push(new PostFilter())
    },
    removeFilter (index) {
      this.filter.splice(index, 1)
      console.log('remove filter idx: ' + index)
    }
  }
}
</script>
<style scoped>
#notebookFilterList {
  margin-top: auto;
  margin-bottom: auto;
  min-height: 60vh;
  max-height: 60vh;
  min-width: 430px;
  max-width: 450px;
}
#addFilterCondBtn {
  margin-bottom: 10px;
}
</style>

