<template lang="pug">
div(class='post-item-div')
  p(class='post-item-title') {{ this.$props.title }}
  p(class='post-item-content') {{ this.$props.content.substring(0, 50) }}
</template>
<script>
export default {
  name: 'PostItem',
  props: ['title', 'content', 'tags', 'categories']
}
</script>
<style scoped>
.post-item-title {
  font-size: 2.0em;
  font-weight: bold;
}
.post-item-content {
  font-size: 1.3em;
}

.post-item-div {
  border: 0px solid grey;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
</style>
