<template lang="pug">
div(id="app" v-bind:style='styleApp')
  el-container(v-bind:style='styleApp')
    el-aside
      app-menu
    el-main(v-bind:style='styleApp')
      router-view

  //- 사용자가 메인 메뉴(app-menu)를 열고 닫을 수 있도록 왼쪽 중앙에 위치한
  //- 토글 버튼이다.
  // menu-collapser(v-bind:style='styleMenuCollapser'
                v-bind:isCollapsed='isCollapsed'
                v-on:menuCollapsed='handleMenuCollapsed')
</template>
<script>
 import Collapser from './components/Collapser'
 import AppMenu from './components/Menu'
 import AppFooter from './components/Footer'

 export default {
   created () {
     window.addEventListener('resize', this.handleResize)
     this.refreshCollapsePosition()
   },
   beforeDestroy () {
     window.removeEventListener('resize', this.handleResize)
   },
   data () {
     return {
       isCollapsed: false,
       styleMenuCollapser: {
         'top': String,
         'left': '50px',
         'position': 'fixed',
         'z-index': 2
       },
       styleApp: {
         'max-height': window.innerHeight + 'px',
         'height': window.innerHeight + 'px'
       }
     }
   },
   methods: {
     handleResize (event) {
       this.refreshCollapsePosition()
     },
     refreshCollapsePosition () {
       this.styleMenuCollapser['top'] = (window.innerHeight / 2) + 'px'
       this.styleApp['height'] = (window.innerHeight) + 'px'
       this.styleApp['max-height'] = (window.innerHeight) + 'px'
     },
     handleMenuCollapsed () {
       console.log('menu collapsed')
     }
   },
   components: {
     'menu-collapser': Collapser,
     'app-menu': AppMenu,
     'app-footer': AppFooter
   }
 }
</script>
<style scoped>
 #app {
   font-family: 'Noto Sans KR', sans-serif;
   margin: 0px;
   font-size: 10px;
 }

 .el-aside {
   max-width: 64px;
   background: var(--elemental-color-4)
 }

 .el-main {
   padding: 0px;
   margin: 0px;
 }
</style>

// Global Style 적용하는 구간
<style>
 body {
   padding: 0px;
   margin: 0px;


   /* 색 정의 */
   --elemental-color-1: #FFFEFF;
   --elemental-color-2: #2B7DD7;
   --elemental-color-3: #99A5BA;
   --elemental-color-4: #030103;
   --elemental-color-5: #6F8CB2;

   --arch-color-1: #C1555B;
   --arch-color-2: #2F343E;
   --arch-color-3: #4E9EDB;
   --arch-color-4: #75B3F3;
   --arch-color-5: #F1F1F2;
 }
</style>
